h2 {
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.overlay-menu {
  &.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
}
.header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 0 40px 0 120px;
  max-width: 1400px;
  margin: auto;
  justify-content: space-between;
  position: relative;
  
  @media screen and (max-width: 991px) {
    padding: 0 80px 0 80px;
  }
  @media screen and (max-width: 571px) {
    padding: 0 40px 0 40px;
  }
  
  .header-logo {

    img {
      width: 81px;
    }
  }

  .header-menu {
    position: relative;
    .menu-icon {
      align-items: center;
      width: 30px;
      display: none;
      cursor: pointer;
      @media screen and (max-width: 991px) {
        display: block;
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
    .menu-list {
      display: flex;
      list-style: none;
      transition: all 0.4s linear;
      @media screen and (max-width: 991px) {
        position: absolute;
        flex-direction: column;
        background-color: white;
        z-index: 1;
        width: 300px;
        padding: 100px 10px;
        top: -30px;
        right: -80px;
        transform: translateX(300px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

      }

      &.open {
        transition: all 0.5s linear;
        @media screen and (max-width: 991px) {
          transform: translateX(0);
        }
      }
      .btn-close {
        position: absolute;
        top: 10px;
        left: 5px;
        border-radius: 3px;
        padding: 0px 10px 5px;
        font-size: 30px;
        line-height: 30px;
        cursor: pointer;
        background-color: #aa242b69;
        display: none;
        @media screen and (max-width: 991px) {
          display: block;
        }
      }
      .menu-list__item {
        font-size: 18;
        padding: 10px 10px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        @media screen and (max-width: 991px) {
          padding: 20px 20px;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 0;
          height: 3px;
          background-color: #841319;
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.15s linear;
        }
        &:hover {
          &::after {
            
            width: calc(100% - 20px);
          }
        }
      }
    }
  }
  
}
.home__banner {
  position: relative;
}
.home__banner-video {
  width: 100%;
  max-height: calc(100vh - 80px);
}
.video-banner {
  width: 100%;
  object-fit: cover;
  max-height: calc(100vh - 80px);

}
.home__banner-btn {
  position: absolute;
  top: calc(100% - 50px);
  right: 50%;
  img {
    width: 30px;
    cursor: pointer;
    transition: all linear;
    animation: ring 1s infinite;
    @keyframes ring {
      0% {
        transform: scale(1);
        transform: translateY(0);
      }
      100% {
        transform: scale(1.2);
        transform: translateY(5px);
      }
    }
  }
}
.home-section {
  margin-top: -5px;
  width: 100%;
  &.intro {
    background-image: url('./media/background01.png');
    background-size: cover;
    .section__content {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px 20px 50px;
      .section__content-text {
        max-width: 1200px;
        color: white;
        @media screen and (max-width: 571px) {
          font-size: 14px;
        }
      }
    }
  }
  .section__title {
    .section__title-text {
      position: relative;
      text-align: center;
      padding:  30px 0 20px;
      margin: 0;
      text-transform: uppercase;
      color: #363636;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: #841319;
        transform: translateX(-50%);
        width: 120px;
        height: 3px;
      }
      &.rich-vest {
        color: white;
        &::before {
          background-color: rgba($color: #FFFFFF, $alpha: 0.5);
        }
      }
    }
  }
  .section__content {
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 10px;
    margin-top: 30px;
    @media screen and (max-width: 571px) {
      flex-direction: column;
    }
    &.pt1 {
      padding: 0 40px 0 120px;
      max-width: 1400px;
      margin: auto;
      gap: 30px;
      margin-top: 50px;
      @media screen and (max-width: 571px) {
        padding: 0 20px 0 20px;
        flex-direction: column-reverse;
      }
      .section__content-left {
        .content__count {
          display: flex;
          justify-content: space-between;
          gap: 40px;
          align-items: center;
          text-align: center;
          @media screen and (max-width: 571px) {
            gap: 20px;
            flex-wrap: wrap;
          }
          .content__count-item {
            
            .number {
              display: flex;
              justify-content: center;
              text-align: center;
              align-items: center;
              background-color: rgba($color: #B7B7B7, $alpha: 0.2) ;
              border-radius: 30px;
              height: 120px;
              width: 120px;
              color: #363636;
              font-size: 32px;
              font-weight: 700;
              @media screen and (max-width: 571px) {
                height: 90px;
                width: 90px;
                font-size: 26px;
                border-radius: 25px;
              }
              &.active {
                background-color: #841319;
                color: white;
              }
            }
            .text {
              margin-top: 10px;
              font-size: 15px;
              text-transform: uppercase;
              @media screen and (max-width: 571px) {
                font-size: 13px;
              }
            }
          }
        }
        .content__image {
          display: flex;
          flex-wrap: wrap;
          gap: 50px;
          margin-top: 50px;
          background-color: #F8F8F8;
          padding: 30px;
          align-items: center;
          @media screen and (max-width: 571px) {
            gap: 30px;
            padding: 20px;
          }
          .image-item {
            margin-right: 30px;
            width: 150px;
            @media screen and (max-width: 571px) {
              width: 100px;
            }
            img {
              width: 100%;
            }
          }
        }
      }
      .section__content-right {
        
        .content-img {
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .section__content-card {
      .card-image {

        &.overlay {
          &:hover {
            
            &::after {
              transform: translateY(-102%);
            }
            .btn-4 {
              background-color: #841319;
              transition-delay: 0.2s;
              &:after {
                left: 120%;
                transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
              }
            }
            img {
              transition: all 0.75s linear;
              transform: scale(1.02);
            }
          }
          &::after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 10;
          top: 0;
          background-color: rgba($color: #000000, $alpha: 0.2);
          transition: all 0.3s linear ;
          transform: inherit;
          }
          
        }
        &.image-pt {
          height: 310px;
          @media screen and (max-width: 571px) {
            height: 100%;
          }
          &:hover {
            img {
              transform: scale(1.1);
            }
            .btn__detail {
              .btn__detail-link {
                color: #FFFFFF;
                background-color: #841319;
              }
  
            }
          }
        }
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          transition: all 0.75s linear;
        }
        .card-image__text {
          color: white;
          position: absolute;
          top: 60%;
          left: 10%;
          font-size: 32px;
          font-weight: 500;
          @media screen and (max-width: 571px) {
            font-size: 26px;
          }
        }
      }
    }
  }
  .btn__detail {
    position: absolute;
    top: 60%;
    transform: translateY(120%);
    .btn__detail-link {
      display: block;
      background-color: #363636;
      color: #FFFFFF;
      text-decoration: none;
      padding: 10px 20px;
      text-transform: uppercase;
      border-radius: 5px;
      transition: all 0.3s linear;
      &:hover {
        color: #FFFFFF;
        background-color: #aa242a !important;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(255, 255, 255, 0.1) 0px 16px 56px, rgba(255, 255, 255, 0.1) 0px 24px 80px;
      }
    }
  }
  &.target {
    margin: 0;
    background-color: #101224;
    box-sizing: border-box;
    min-height: 600px;
    position: relative;
    .home-section__target {
      display: flex;
      color: white;
      padding: 0 40px 0 120px;
      max-width: 1400px;
      margin: auto;
      margin-top: 50px;
      gap: 50px;
      @media screen and (max-width: 571px) {
        flex-direction: column;
        padding: 0 20px 0 20px;
      }
      .home-section__target-content {
        width: 40%;
        margin-top: 100px;
        @media screen and (max-width: 571px) {
          width: 100%;
          margin-top: 50px;
        }
        .target__title {
          position: relative;
          padding:  10px 0 10px;
          margin: 0;
          text-transform: uppercase;
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #841319;
            width: 100px;
            height: 3px;
          }
        }
        .target__text {
          margin-top: 50px;
          font-size: 16px;
          line-height: 1.8;

        }
        .target__btn {
          margin-top: 50px;
          .btn__see-more {
            background-color: #841319;
            border: none;
            color: white;
            padding: 10px 20px;
            text-transform: uppercase;
            display: flex;
            align-items: center; 
            gap: 20px;
            img {
              width: 20px;
            }
          }
        }
      }
      .home-section__target-img {
        @media screen and (max-width: 571px) {
          width: 100%;
          margin-bottom: 50px;
        }
        .target-img {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 10;
          @media screen and (max-width: 571px) {
            position: relative;
          }
          &::after {
            content: '';
            position: absolute;
            background-color: rgba($color: #841319, $alpha: 0.44);
            width: calc(100% - 295px);
            height: 150px;
            bottom: -30px;
            left: -30px;
            z-index: 1;
            @media screen and (max-width: 571px) {
              width: calc(100% - 230px);
              height: 100px;
            }
          }
          .img {
            overflow: hidden;
            img {
              width: 750px;
              height: 100%;
              position: relative;
              z-index: 10;
              transition: all 0.5s linear;
              @media screen and (max-width: 571px) {
                width: 100%;
                height: 100%;
              }
              &:hover {
                transform: scale(1.1);
              }
            }
          }
          .target-img__text {
            position: absolute;
            bottom: 2px;
            right: 0;
            padding: 15px 40px;
            background-color: rgba($color: #841319, $alpha: 0.8);
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 2px;
            width: 325px;
            z-index: 11;
            @media screen and (max-width: 571px) {
              width: 260px;
              font-size: 13px;
              padding: 10px 20px;

            }
          }
        }   
      }
    }

  }
  &.news {
    margin-top: 50px;
    .home-section__news {
      width: 100%;
      padding: 0 40px 0 120px;
      max-width: 1400px;
      margin: auto;
      position: relative;
      box-sizing: border-box;
      overflow: hidden;
      @media screen and (max-width: 571px) {
        padding: 0 20px 0 20px;

      }
      .home-section__news-title {
        h2 {
          position: relative;
          padding: 10px 0 10px;
          margin: 0;
          text-transform: uppercase;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #841319;
            width: 100px;
            height: 3px;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba($color: #992424, $alpha: 0.2) ;
            width: 100%;
            height: 3px;
          }
        }
      }
      .home-section__news-items {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
        @media screen and (max-width: 571px) {
          flex-wrap: wrap;
        }
        .card-item {
          width: 25%;
          @media screen and (max-width: 571px) {
            width: 100%;
          }
          background-color: rgba($color: #707070, $alpha: 0.05);
          .card-item__img {
            img {
              width: 100%;
            }
          }
          .card-item__date {
            color: #992424;
            margin: 10px 0;
          }
          .card-item__title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; 
            line-clamp: 2; 
            -webkit-box-orient: vertical;
            font-size: 20px;
            color: #363636;
          }
          .card-item__decs {
            color: #BB924B;
            font-style: italic;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; 
            line-clamp: 3; 
            -webkit-box-orient: vertical;
            margin: 10px 0;
          }
        }
      }
    }
  }
  &.partners {
    margin-top: 50px;
    .home-section__partners {
      display: flex;
      gap: 20px;
      @media screen and (max-width: 571px) {
        flex-direction: column-reverse;
      }
      .partners__img {
        width: 50%;
        @media screen and (max-width: 571px) {
          width: 100%;
        }
        img {
          width: 100%;
          height: 600px;
          @media screen and (max-width: 571px) {
            height: 300px;
          }
        }
      }
      .partners__content {
        width: 50%;
        @media screen and (max-width: 571px) {
          width: 100%;
        }
        position: relative;
        .partners__content-title {
          width: 100%;
          max-width: 660px;
          @media screen and (max-width: 571px) {
            padding: 0 20px;
          }
          h2 {
            position: relative;
            padding: 10px 0 10px;
            margin: 0;
            text-transform: uppercase;
            width: 100%;
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              background-color: #841319;
              width: 100px;
              height: 3px;
              
            }
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              background-color: rgba($color: #992424, $alpha: 0.2) ;
              width: 100%;
              height: 3px;
            }
          }
        }
        .partners__content-text {
          margin: 100px 0;
          text-transform: uppercase;
          @media screen and (max-width: 571px) {
            padding: 0 20px;
            margin: 50px 0;
            font-size: 14px;
          }
        }
        .partners__content-invest {
          padding: 30px 50px;
          background-image: url('./media/img-invest.png');
          position: absolute;
          left: -50px;
          width: calc(100% + 50px);
          bottom: 100px;
          @media screen and (max-width: 571px) {
            position: relative;
            width: 100%;
            bottom: 0;
            top: 0;
            left: 0;
            padding: 30px 20px;
          }
          .invest__title {
            h2 {
              color: white;
              padding: 10px 0;
              text-transform: uppercase;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #ffffff;
                width: 120px;
                height: 2px;
              }
            }
          }
          .invest {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 20px;
            gap: 100px;
            @media screen and (max-width: 571px) {
              justify-content: space-between;
              gap: 20px;
            }
            .invest__item {
              .invest__item-text {
                color: rgba($color: #FFFFFF, $alpha: 0.5);
              }
              .invest__item-count {
                display: flex;
                color: white;
                margin-top: 5px;
                align-items: center;
                .number {
                  font-size: 26px;
                  margin-right: 5px;
                }
                .text {
                  font-size: 18px;
                  line-height: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.btn {
  color: #fff;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 25px;
  padding: 10px 20px;
  max-width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
  &:hover { text-decoration: none; }
  
}
.btn-4 {
  overflow: hidden;
  position: absolute;
  top: 75%;
  left: 0;
  z-index: 100;
  background-color: #363636;
  span {
    z-index: 20;
  }
  
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}
.footer {
  background-image: url('./media/background-footer.png');
  background-size: cover;
  min-height: 600px;
  width: 100%;
  padding-top: 40px;
  
  .footer__row {
    padding: 0 40px 0 120px;
    max-width: 1400px;
    display: flex;
    margin: auto;
    gap: 10px;
    @media screen and (max-width: 571px) {
      flex-direction: column;
      padding: 0 20px 0 20px;

    }
    .footer__row-left {
      width: 500px;
      @media screen and (max-width: 571px) {
        width: 300px;
      }
      .footer-logo {
        img {
          width: 150px;
        }
      }
      .footer-social {
        .footer-social__title {
          padding: 30px 0 20px 0;
          color: white;
          text-transform: uppercase;
        }
        .footer-social__icon {
          display: flex;
          align-items: center;
          .icon {
            margin-right: 20px;
            text-align: start;
            img {
              width: 30px;
            }
          }
        }
      }
      .footer-contact {
        .contact-title {
          padding: 30px 0 20px 0;
          color: white;
          text-transform: uppercase;
        }
        .contact-item {
          display: flex;
          padding: 5px 0;
          align-items: center;
          .item-icon {
            margin-right: 5px;
            align-items: center;
            text-align: center;
            img {
              margin-top: 4px;
            }
          }
          .item-text {
            font-size: 16px;
            line-height: 22px;
            color: rgba($color: #FFFFFF, $alpha: 0.6);
          }
        }
      }
    }
    .footer__row-right {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-left: 30px;
      @media screen and (max-width: 571px) {
        margin-left: 0px;
        gap: 0;
      }
      .footer-item {
        @media screen and (max-width: 571px) {
          width: 50%;
        }
        .item-title {
          padding: 30px 0 20px 0;
          color: white;
          text-transform: uppercase;
          position: relative;
          &::after {
            content: "";
            width: 4px;
            height: 20px;
            position: absolute;
            top: 60%;
            left: -10px;
            transform: translateY(-50%);
            background-color: #841319;
          }
        }
        .item-list {
          .menu-footer {
            list-style: none;
            .menu-footer__item {
              font-size: 16px;
              line-height: 22px;
              padding: 4px 0;
              color: rgba($color: #FFFFFF, $alpha: 0.6);
            }
          }
        }
      }
    }
    
  }
  .footer__copyright {
    background-color: #6D0E13;
    margin-top: 40px;
    .footer__copyright-text {
      padding: 0 40px 0 120px;
      max-width: 1400px;
      display: flex;
      margin: auto;
      gap: 10px;
      text-transform: uppercase;
      font-size: 12px;
      color: rgba($color: #FFFFFF, $alpha: 0.5);
      @media screen and (max-width: 571px) {
        padding: 0 20px 0 20px;
      }
      span {
        padding: 15px 0;
      }
    }
  }
}
.btn__see-more {
  background-color: #841319;
  border: none;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center; 
  gap: 20px;
  margin: 20px 0;
  cursor: pointer;
  &:hover {
    background-color: #a7161d;
    img {
      transition: all linear;
      animation: rung 1s infinite;
      @keyframes rung {
        0% {
          transform: scale(1);
          transform: translateX(0);
        }
        100% {
          transform: scale(1.2);
          transform: translateX(5px);
        }
      }
    }
  }
  img {
    width: 18px;
  }
}