body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.overlay-menu.open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 0 40px 0 120px;
  max-width: 1400px;
  margin: auto;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 991px) {
  .header {
    padding: 0 80px 0 80px;
  }
}
@media screen and (max-width: 571px) {
  .header {
    padding: 0 40px 0 40px;
  }
}
.header .header-logo img {
  width: 81px;
}
.header .header-menu {
  position: relative;
}
.header .header-menu .menu-icon {
  align-items: center;
  width: 30px;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .header .header-menu .menu-icon {
    display: block;
  }
}
.header .header-menu .menu-icon img {
  width: 30px;
  height: 30px;
}
.header .header-menu .menu-list {
  display: flex;
  list-style: none;
  transition: all 0.4s linear;
}
@media screen and (max-width: 991px) {
  .header .header-menu .menu-list {
    position: absolute;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    width: 300px;
    padding: 100px 10px;
    top: -30px;
    right: -80px;
    transform: translateX(300px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
}
.header .header-menu .menu-list.open {
  transition: all 0.5s linear;
}
@media screen and (max-width: 991px) {
  .header .header-menu .menu-list.open {
    transform: translateX(0);
  }
}
.header .header-menu .menu-list .btn-close {
  position: absolute;
  top: 10px;
  left: 5px;
  border-radius: 3px;
  padding: 0px 10px 5px;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
  background-color: rgba(170, 36, 43, 0.4117647059);
  display: none;
}
@media screen and (max-width: 991px) {
  .header .header-menu .menu-list .btn-close {
    display: block;
  }
}
.header .header-menu .menu-list .menu-list__item {
  font-size: 18;
  padding: 10px 10px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 991px) {
  .header .header-menu .menu-list .menu-list__item {
    padding: 20px 20px;
  }
}
.header .header-menu .menu-list .menu-list__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #841319;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.15s linear;
}
.header .header-menu .menu-list .menu-list__item:hover::after {
  width: calc(100% - 20px);
}

.home__banner {
  position: relative;
}

.home__banner-video {
  width: 100%;
  max-height: 100vh;
}

.video-banner {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100vh;
}

.home__banner-btn {
  position: absolute;
  top: calc(100% - 50px);
  right: 50%;
}
.home__banner-btn img {
  width: 30px;
  cursor: pointer;
  transition: all linear;
  -webkit-animation: ring 1s infinite;
          animation: ring 1s infinite;
}
@-webkit-keyframes ring {
  0% {
    transform: scale(1);
    transform: translateY(0);
  }
  100% {
    transform: scale(1.2);
    transform: translateY(5px);
  }
}
@keyframes ring {
  0% {
    transform: scale(1);
    transform: translateY(0);
  }
  100% {
    transform: scale(1.2);
    transform: translateY(5px);
  }
}

.home-section {
  margin-top: -5px;
  width: 100%;
}
.home-section.intro {
  background-image: url("./media/background01.png");
  background-size: cover;
}
.home-section.intro .section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 20px 50px;
}
.home-section.intro .section__content .section__content-text {
  max-width: 1200px;
  color: white;
}
.home-section .section__title .section__title-text {
  position: relative;
  text-align: center;
  padding: 30px 0 20px;
  margin: 0;
  text-transform: uppercase;
  color: #363636;
}
.home-section .section__title .section__title-text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #841319;
  transform: translateX(-50%);
  width: 120px;
  height: 3px;
}
.home-section .section__title .section__title-text.rich-vest {
  color: white;
}
.home-section .section__title .section__title-text.rich-vest::before {
  background-color: rgba(255, 255, 255, 0.5);
}
.home-section .section__content {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.home-section .section__content .section__content-card .card-image {
  overflow: hidden;
  position: relative;
}
.home-section .section__content .section__content-card .card-image.overlay:hover::after {
  transform: translateY(-102%);
}
.home-section .section__content .section__content-card .card-image.overlay:hover .btn-4 {
  background-color: #841319;
  transition-delay: 0.2s;
}
.home-section .section__content .section__content-card .card-image.overlay:hover .btn-4:after {
  left: 120%;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.home-section .section__content .section__content-card .card-image.overlay::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
  transform: inherit;
}
.home-section .section__content .section__content-card .card-image.image-pt {
  height: 310px;
}
.home-section .section__content .section__content-card .card-image.image-pt:hover img {
  transform: scale(1.1);
}
.home-section .section__content .section__content-card .card-image.image-pt:hover .btn__detail .btn__detail-link {
  color: #FFFFFF;
  background-color: #841319;
}
.home-section .section__content .section__content-card .card-image img {
  width: 100%;
  transition: all 0.75s linear;
}
.home-section .section__content .section__content-card .card-image .card-image__text {
  color: white;
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 32px;
  font-weight: 500;
}
.home-section .btn__detail {
  position: absolute;
  top: 60%;
  transform: translateY(120%);
}
.home-section .btn__detail .btn__detail-link {
  display: block;
  background-color: #363636;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.home-section .btn__detail .btn__detail-link:hover {
  color: #FFFFFF;
  background-color: #aa242a !important;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(255, 255, 255, 0.1) 0px 16px 56px, rgba(255, 255, 255, 0.1) 0px 24px 80px;
}

.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding: 10px 20px;
  max-width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

.btn-4 {
  overflow: hidden;
  position: absolute;
  top: 75%;
  left: 0;
  z-index: 100;
  background-color: #363636;
}
.btn-4 span {
  z-index: 20;
}
.btn-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.footer {
  background-image: url("./media/background-footer.png");
  background-size: cover;
  min-height: 600px;
  width: 100%;
  padding-top: 40px;
}
.footer .footer__row {
  padding: 0 40px 0 120px;
  max-width: 1400px;
  display: flex;
  margin: auto;
  gap: 10px;
}
@media screen and (max-width: 571px) {
  .footer .footer__row {
    flex-direction: column;
    padding: 0 20px 0 20px;
  }
}
.footer .footer__row .footer__row-left {
  width: 500px;
}
@media screen and (max-width: 571px) {
  .footer .footer__row .footer__row-left {
    width: 300px;
  }
}
.footer .footer__row .footer__row-left .footer-logo img {
  width: 150px;
}
.footer .footer__row .footer__row-left .footer-social .footer-social__title {
  padding: 30px 0 20px 0;
  color: white;
  text-transform: uppercase;
}
.footer .footer__row .footer__row-left .footer-social .footer-social__icon {
  display: flex;
  align-items: center;
}
.footer .footer__row .footer__row-left .footer-social .footer-social__icon .icon {
  margin-right: 20px;
  text-align: start;
}
.footer .footer__row .footer__row-left .footer-social .footer-social__icon .icon img {
  width: 30px;
}
.footer .footer__row .footer__row-left .footer-contact .contact-title {
  padding: 30px 0 20px 0;
  color: white;
  text-transform: uppercase;
}
.footer .footer__row .footer__row-left .footer-contact .contact-item {
  display: flex;
  padding: 5px 0;
  align-items: center;
}
.footer .footer__row .footer__row-left .footer-contact .contact-item .item-icon {
  margin-right: 5px;
  align-items: center;
  text-align: center;
}
.footer .footer__row .footer__row-left .footer-contact .contact-item .item-icon img {
  margin-top: 4px;
}
.footer .footer__row .footer__row-left .footer-contact .contact-item .item-text {
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer__row .footer__row-right {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 30px;
}
@media screen and (max-width: 571px) {
  .footer .footer__row .footer__row-right {
    margin-left: 0px;
    gap: 0;
  }
}
@media screen and (max-width: 571px) {
  .footer .footer__row .footer__row-right .footer-item {
    width: 50%;
  }
}
.footer .footer__row .footer__row-right .footer-item .item-title {
  padding: 30px 0 20px 0;
  color: white;
  text-transform: uppercase;
  position: relative;
}
.footer .footer__row .footer__row-right .footer-item .item-title::after {
  content: "";
  width: 4px;
  height: 20px;
  position: absolute;
  top: 60%;
  left: -10px;
  transform: translateY(-50%);
  background-color: #841319;
}
.footer .footer__row .footer__row-right .footer-item .item-list .menu-footer {
  list-style: none;
}
.footer .footer__row .footer__row-right .footer-item .item-list .menu-footer .menu-footer__item {
  font-size: 16px;
  line-height: 22px;
  padding: 4px 0;
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer__copyright {
  background-color: #6D0E13;
  margin-top: 40px;
}
.footer .footer__copyright .footer__copyright-text {
  padding: 0 40px 0 120px;
  max-width: 1400px;
  display: flex;
  margin: auto;
  gap: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 571px) {
  .footer .footer__copyright .footer__copyright-text {
    padding: 0 20px 0 20px;
  }
}
.footer .footer__copyright .footer__copyright-text span {
  padding: 15px 0;
}/*# sourceMappingURL=style.css.map */